.tooltip {
        display:none;
        background:transparent url(/tools/img/tooltip/black_arrow.png);
        font-size:12px;
        height:70px;
        width:160px;
        padding:25px;
        color:#fff; 
}
